
# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/

# Editor noise
.vscode/
.ipynb_checkpoints/

output/*.ttl
output/*.npz
.devcontainer
recipesNLG
.vscode
unified_recipes
__pycache__
.ipynb_checkpoints
